
  <div class="container">
	<div ng-include="" src="'/acdh/js/views/navbar.html'"></div>
  </div>

<div class="container">
  <div class="row">
	<h4>Contacts</h4>
<p>Wenn auch Sie Teil unseres dha Netzwerks werden möchten, sind Sie herzlich eingeladen, mit uns Kontakt aufzunehmen!</p>
<p>Die österreichweite dha Mailingliste informiert über aktuelle Themen der Digital Humanities und gibt Ihnen die Möglichkeit, selbst relevante Inhalte zielgruppenorientiert zu verbreiten.</p>
<p>Haben Sie inhaltliche oder technische Fragen, wenden Sie sich bitte an den Helpdesk – gerne leiten wir Ihr Anliegen an die jeweiligen dha ExpertInnen weiter.</p>	
  </div>
</div>