  <div class="container">
	<div ng-include="" src="'/acdh/js/views/navbar.html'"></div>
  </div>

<div class="container">
	<h3></h3>
	<div class="badgerclass badger-left badger-default" data-badger="Our Contact Details">
		  <p>Die DHA-community ist stetig im Wachsen begriffen. Wenn Sie sich über aktuelle Entwicklungen informieren wollen oder sich mit Gleichgesinnten vernetzen möchten, abonnieren Sie am besten die österreichweite digital humanities Mailingliste</p><h4><a href="https://lists.oeaw.ac.at/mailman/listinfo/dha">DHA Mailingliste</a></h4><p>Bei Fragen im Zusammenhang mit digitalen geisteswissenschaftlichen Projekten, mit Plänen zu neuen Projekten oder den Infrastrukturen CLARIN-ERIC und DARIAH mailen Sie unser</p><h4><a href="http://www.oeaw.ac.at/acdh/de/helpdesk">Helpdesk</a><a href="mailto:acdh@oeaw.ac.at?subject=DHA">acdh@oeaw.ac.at</a></h4><p>Die Anfragen werden intern an die jeweils passenden Partner im Konsortium weitergeleitet.</p><p>Bei technischen Fragen im Zusammenhang mit der DHA-Website wenden sie sich bitte an: <a href="mailto:acdh-tech@oeaw.ac.at?subject=DHA%20website%20-%20%3F">acdh-tech@oeaw.ac.at</a></p>
	</div>
</div>