<div class="container" style="padding:5px;">
  <a ui-sref="start"><img width="70" src="http://www.digital-humanities.at/components/dha-custom/lowres_logo_1.png" /></a>
  
<nav class="navbar pull-right">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" ui-sref="news">News + Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="project">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="knowmore">Know More</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="partners">Partners</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="contact">Contact</a>
    </li>
  </ul>
</nav>
</div>